.Container {
  font-weight: 800;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0.5px;
}
.TitleA {
  text-decoration: underline;
}
.Holder {
  text-align: center;
  margin-top: 8rem;
}
